{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="content">
        <hr>
        <div class="product-info">
            <h1 class="product_name">{{ product.name }}</h1>

            <div class="product_images">
                <a href="/media/{{ product.product_image }}" target="_blank"><img class="product-page-img" src="/media/{{ product.product_image }}" alt="Видеокарта" title="Открыть в новой вкладке"></a>
            </div>

            <div class="brief_description">
                <h2>Краткое описание товара</h2>
                <p>{{ product.short_desc }}</p>
            </div>

            <div class="detailed_description">
                <h2>Подробное описание товара</h2>
                <p>{{ product.detailed_desc }}</p>
            </div>

            <div class="appearance">
                <h2>Внешний вид</h2>
                <p>{{ product.appearance }}</p>
            </div>

            <div class="specifications-header">
                <h2>Характеристики товара</h2>
                <table class="specifications">
                    {% for spec in specifications %}
                        <tr>
                            <td>{{ spec }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="price">
                <h3 class="formatted-price">{{ product.price }} руб.</h3>
            </div>

            <div class="buy-button">
                <a href="{% url 'basket:add' category.pk product.pk %}" title='Добавить товар в корзину'>Купить</a>
            </div>

        </div>
    </div>
{% endblock %}
