{% load staticfiles %}
<ul class="menu">
    <li>
        <a href="{% url 'main' %}">Главная</a>
    </li>
    <li>
        <a href="{% url 'catalog:main' %}">Каталог</a>
    </li>
    <li>
        <a href="#">Часы</a>
    </li>
    <li>
        <a href="#">Аксессуары</a>
    </li>
    <li>
        <a href="#">Бренды</a>
    </li>
    <li>
        <a href="{% url 'contact' %}">Контакты</a>
    </li>
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:users' %}">Управление сайтом</a>
    </li>
    {% endif %}
</ul>
