{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    
    {% block js %}
    {% endblock %}
</head>

<body>
    <div class="auth-container">
        <div class="login">

            {% block content %}
            {% endblock content %}

        </div>
    </div>
</body>
</html>
