{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="category_delete">
    Уверены, что хотите удалить категорию <strong>{{ object.name }}</strong>?
    <form action="{% url 'admin:category_delete' object.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger admin-button float-left-btn" type="submit" value="Удалить">
    </form>
    <button class="btn btn-success admin-button">
        <a href="{% url 'admin:categories' %}">Отмена</a>
    </button>
</div>
{% endblock %}
